<div class="card">
  <p-table
    #dt
    [columns]="cols"
    [value]="orders"
    [exportHeader]="'customExportHeader'"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-file-pdf"
          (click)="exportPdf()"
          class="p-button-warning mr-2"
          pTooltip="PDF"
          tooltipPosition="bottom"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th class="text-center">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.field === 'status'; else other_fields">
            <div class="flex align-items-center justify-content-start gap-1">
              <p-tag
                [value]="getStatusSeverity(rowData[col.field]).statusText"
                [severity]="getStatusSeverity(rowData[col.field]).severity"
              ></p-tag>
              <button
                *ngIf="
                  getStatusSeverity(rowData[col.field]).statusText !==
                    'Entregado' && userDetails.roles.includes('ADMIN')
                "
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text"
                (click)="editStatus(rowData)"
              ></button>
            </div>
          </ng-container>
          <ng-template #other_fields>
            {{ rowData[col.field] }}
          </ng-template>
        </td>
        <td>
          <button
            pButton
            pRipple
            label="Detalles"
            icon="pi pi-eye"
            class="p-button-text"
            (click)="showDialog(rowData.idOrder)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer"> </ng-template>
  </p-table>
</div>
<p-dialog
  header="Detalles de orden"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [breakpoints]="{ '960px': '75vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-table [value]="selectedOrder" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Categoria</th>
        <th>Marca</th>
        <th>Descuento</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.name }}</td>
        <td>
          <img
            [src]="product.image"
            [alt]="product.name"
            width="100"
            class="shadow-4"
          />
        </td>
        <td>{{ product.price | currency : "S/" }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.product_type }}</td>
        <td>{{ product.id_brands.brandName }}</td>
        <td>{{ product.discount }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{ selectedOrder ? selectedOrder.length : 0 }} productos
        comprados.
      </div>
    </ng-template>
  </p-table>
</p-dialog>
<p-dialog
  header="Edita el estado de la orden"
  [(visible)]="updateStatusVisible"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [breakpoints]="{ '960px': '75vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="updateStatusOrderForm" class="flex flex-column p-fluid">
    <p-dropdown
      formControlName="status"
      [options]="statusOptions"
      optionLabel="label"
      optionValue="value"
      inputId="Status"
      styleClass=" mb-2"
      placeholder="Selecciona un estado"
    ></p-dropdown>
    <div class="flex flex-1 gap-2 flex-wrap">
      <button
        pButton
        type="button"
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-secondary w-1/2"
        (click)="closeUpdateStatusDialog()"
      ></button>
      <button
        pButton
        type="button"
        label="Guardar"
        icon="pi pi-check"
        class="p-button-primary"
        (click)="onUpdateOrderStatus()"
      ></button>
    </div>
  </form>
</p-dialog>
