<div
  class="container px-5 py-4 lg:pt-24 mx-auto flex gap-4 flex-wrap items-start justify-between max-w-screen-2xl"
>
  <form
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
    class="lg:w-2/6 max-h-[720px] overflow-y-auto bg-gray-100 rounded-lg p-8 flex flex-col w-full mb-4 md:mb-0 scroll-smooth scrollbar-thin scrollbar-thumb-orange"
  >
    <h2 class="text-gray-900 text-lg font-medium title-font mb-5">
      Crear un producto
    </h2>
    <div class="relative mb-4">
      <label for="nombre" class="leading-7 text-sm text-gray-600">Nombre</label>
      <input
        type="text"
        id="nombre"
        formControlName="name"
        class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      />
      <div
        class="grid gap-2 leading-tight mt-1"
        *ngIf="
          productForm.get('name')?.touched && productForm.get('name')?.errors
        "
      >
        <span
          class="font-medium text-red-500 leading-tight"
          *ngIf="productForm.get('name')?.errors?.['required']"
        >
          El campo de nombre es requerido.
        </span>
        <span
          class="font-medium text-orange-500 leading-tight"
          *ngIf="productForm.get('name')?.errors?.['minLength']"
        >
          Minimo 3 caracteres.
        </span>
      </div>
    </div>
    <div class="relative mb-4">
      <label for="descripcion" class="leading-7 text-sm text-gray-600">
        Descripción
      </label>
      <input
        type="text"
        id="descripcion"
        formControlName="description"
        class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      />
      <div
        class="grid gap-2 leading-tight mt-1"
        *ngIf="
          productForm.get('description')?.touched &&
          productForm.get('description')?.errors
        "
      >
        <span
          class="font-medium text-red-500 leading-tight"
          *ngIf="productForm.get('description')?.errors?.['required']"
        >
          El campo de descripcion es requerido.
        </span>
        <span
          class="font-medium text-orange-500 leading-tight"
          *ngIf="productForm.get('description')?.errors?.['minLength']"
        >
          Minimo 3 caracteres.
        </span>
      </div>
    </div>
    <div class="flex items-center gap-2">
      <div class="relative mb-4 w-1/2">
        <label for="stock" class="leading-7 text-sm text-gray-600">Stock</label>
        <input
          type="text"
          id="stock"
          formControlName="stock"
          class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <div class="relative mb-4 w-1/2">
        <label for="precio" class="leading-7 text-sm text-gray-600">
          Precio en Soles
        </label>
        <input
          type="text"
          id="precio"
          formControlName="price"
          class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
    </div>
    <div class="grid">
      <div
        class="grid gap-2 leading-tight"
        *ngIf="
          productForm.get('stock')?.touched && productForm.get('stock')?.errors
        "
      >
        <span
          class="font-medium text-red-500 leading-tight"
          *ngIf="productForm.get('stock')?.errors?.['required']"
        >
          El campo de stock es requerido.
        </span>
        <span
          class="font-medium text-orange-500 leading-tight"
          *ngIf="productForm.get('stock')?.errors?.['numericType']"
        >
          Debes ingresar un valor numerico para el stock.
        </span>
      </div>
      <div
        class="grid gap-2 leading-tight"
        *ngIf="
          productForm.get('price')?.touched && productForm.get('price')?.errors
        "
      >
        <span
          class="font-medium text-red-500 leading-tight"
          *ngIf="productForm.get('price')?.errors?.['required']"
        >
          El campo de precio es requerido.
        </span>
        <span
          class="font-medium text-orange-500 leading-tight"
          *ngIf="productForm.get('price')?.errors?.['numericDecimalType']"
        >
          Debes ingresar un valor numerico para el precio.
        </span>
      </div>
    </div>
    <div class="relative mb-4">
      <label for="descuento" class="leading-7 text-sm text-gray-600">
        Descuento <span class="text-xs text-gray-500">(opcional)</span>
      </label>
      <input
        type="text"
        id="descuento"
        formControlName="discount"
        class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      />
      <div
        class="grid gap-2 leading-tight mt-1"
        *ngIf="
          productForm.get('discount')?.touched &&
          productForm.get('discount')?.errors
        "
      >
        <span
          class="font-medium text-orange-500 leading-tight"
          *ngIf="productForm.get('discount')?.errors?.['numericDecimalType']"
        >
          Debes ingresar un valor numerico para el descuento.
        </span>
      </div>
    </div>
    <div class="relative mb-4">
      <label for="tipo_producto" class="leading-7 text-sm text-gray-600">
        Tipo de producto
      </label>
      <input
        type="text"
        id="tipo_producto"
        formControlName="product_type"
        class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      />
      <div
        class="grid gap-2 leading-tight mt-1"
        *ngIf="
          productForm.get('product_type')?.touched &&
          productForm.get('product_type')?.errors
        "
      >
        <span
          class="font-medium text-red-500 leading-tight"
          *ngIf="productForm.get('product_type')?.errors?.['required']"
        >
          El campo de tipo de producto es requerido.
        </span>
      </div>
    </div>
    <div class="relative mb-4">
      <label for="imagen" class="leading-7 text-sm text-gray-600">
        Imagen del producto
      </label>
      <input
        type="file"
        id="imagen"
        formControlName="image"
        (change)="onImageUpload($event)"
        class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      />
      <div
        class="grid gap-2 leading-tight mt-1"
        *ngIf="
          productForm.get('image')?.touched && productForm.get('image')?.errors
        "
      >
        <span
          class="font-medium text-red-500 leading-tight"
          *ngIf="productForm.get('image')?.errors?.['required']"
        >
          La imagen es requerida.
        </span>
        <span
          class="font-medium text-red-500 leading-tight"
          *ngIf="productForm.get('image')?.errors?.['fileSizeValidator']"
        >
          La imagen no debe pesar mas de 10MB.
        </span>
      </div>
    </div>
    <div class="relative mb-4">
      <label for="marca" class="leading-7 text-sm text-gray-600">Marca</label>
      <select
        id="marca"
        formControlName="id_brands"
        class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      >
        <option value="" selected>Selecciona la marca del producto</option>
        <option *ngFor="let brand of brands" [value]="brand.id">
          {{ brand.brandName }}
        </option>
      </select>
      <div
        class="grid gap-2 leading-tight mt-1"
        *ngIf="
          productForm.get('id_brands')?.touched &&
          productForm.get('id_brands')?.errors
        "
      >
        <span
          class="font-medium text-red-500 leading-tight"
          *ngIf="productForm.get('id_brands')?.errors?.['required']"
        >
          El campo de la marca es requerido.
        </span>
      </div>
    </div>
    <button
      type="submit"
      class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg"
    >
      Agregar
    </button>
    <p class="text-xs text-gray-500 mt-3">
      Los productos que lleguen a un stock de 0 se deshabilitaran
      automáticamente.
    </p>
  </form>
  <div
    class="relative w-full lg:w-3/5 max-h-[720px] overflow-auto mb-2 md:mb-0 scroll-smooth scrollbar-thin scrollbar-thumb-orange"
  >
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-3 py-3">Imagen</th>
          <th scope="col" class="px-3 py-3">Nombre del producto</th>
          <th scope="col" class="px-3 py-3">Descripción</th>
          <th scope="col" class="px-3 py-3">Stock</th>
          <th scope="col" class="px-3 py-3">Precio (Soles)</th>
          <th scope="col" class="px-3 py-3">Descuento</th>
          <th scope="col" class="px-3 py-3">Tipo de producto</th>
          <th scope="col" class="px-3 py-3">Marca</th>
          <th scope="col" class="px-3 py-3">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          *ngFor="let product of products"
        >
          <th
            scope="row"
            class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            <img
              class="w-12 h-12 rounded-full object-cover object-center"
              src="{{ product.image }}"
            />
          </th>
          <td class="px-3 py-4">{{ product.name }}</td>
          <td class="px-3 py-4">{{ product.description }}</td>
          <td class="px-3 py-4">{{ product.stock || 0 }}</td>
          <td class="px-3 py-4">{{ product.price || 0 }}</td>
          <td class="px-3 py-4">{{ product.discount || 0 }}</td>
          <td class="px-3 py-4">{{ product.product_type }}</td>
          <td class="px-3 py-4">{{ product.id_brands.brandName }}</td>
          <td class="px-3 py-4">
            <button
              class="text-white bg-red-500 border-0 py-1 px-2 focus:outline-none hover:bg-red-600 rounded text-lg"
            >
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
