<div class="flex h-full">
  <div class="surface-section w-full md:w-6 p-6 md:p-8 my-auto">
    <div class="mb-5">
      <img
        src="assets/yaktta_imgs/yakkta_logo.webp"
        alt="Image"
        height="50"
        class="mb-3"
      />
      <div class="text-900 text-3xl font-medium mb-3">Inicio de sesión</div>
      <span class="text-600 font-medium mr-2">No tienes una cuenta?</span
      ><a
        class="font-medium no-underline text-blue-500 cursor-pointer"
        routerLink="/register"
        >Creala hoy mismo!</a
      >
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email" class="block text-900 font-medium mb-2"
        >Correo electrónico</label
      ><input
        id="email"
        type="text"
        formControlName="username"
        placeholder="Ingresa tu correo electrónico"
        aria-describedby="username-help"
        pinputtext=""
        class="p-inputtext p-component p-element w-full mb-3 p-3"
      />
      <div
        class="p-fluid mb-3 -mt-2 fade-in"
        *ngIf="
          loginForm.get('username')?.touched &&
          loginForm.get('username')?.errors
        "
      >
        <div
          class="p-error"
          *ngIf="loginForm.get('username')?.errors?.['required']"
        >
          <small>El correo es requerido.</small>
        </div>
        <div
          class="p-error"
          *ngIf="loginForm.get('username')?.errors?.['email']"
        >
          <small>El formato de email es incorrecto.</small>
        </div>
      </div>
      <label for="password2" class="block text-900 font-medium mb-2"
        >Password</label
      >
      <div class="p-inputtext p-component p-element p-fluid w-full mb-3">
        <p-password
          placeholder="Ingresa tu contraseña"
          formControlName="password"
          styleClass="p-fluid"
          [toggleMask]="true"
        >
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-1">Completa las condiciones</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li
                [ngClass]="{'text-green-500': !loginForm.get('password')?.errors?.['lowercase'], 'text-red-500': loginForm.get('password')?.errors?.['lowercase']}"
              >
                Al menos una minúscula
              </li>
              <li
                [ngClass]="{'text-green-500': !loginForm.get('password')?.errors?.['uppercase'], 'text-red-500': loginForm.get('password')?.errors?.['uppercase']}"
              >
                Al menos una mayúscula
              </li>
              <li
                [ngClass]="{'text-green-500': !loginForm.get('password')?.errors?.['numeric'], 'text-red-500': loginForm.get('password')?.errors?.['numeric']}"
              >
                Al menos un numero
              </li>
              <li
                [ngClass]="{'text-green-500': !loginForm.get('password')?.errors?.['minLength'], 'text-red-500': loginForm.get('password')?.errors?.['minLength']}"
              >
                Mínimo 8 caracteres
              </li>
            </ul>
          </ng-template>
        </p-password>
      </div>
      <div
        class="p-fluid mb-3 -mt-2 fade-in"
        *ngIf="
          loginForm.get('password')?.touched &&
          loginForm.get('password')?.errors
        "
      >
        <div
          class="p-error"
          *ngIf="loginForm.get('password')?.errors?.['required']"
        >
          <small>La contraseña es requerida.</small>
        </div>
      </div>
      <button
        pbutton=""
        pripple=""
        label="Sign In"
        icon="pi pi-user"
        type="submit"
        class="p-element p-ripple w-full p-3 p-button p-component"
      >
        <span
          class="p-button-icon p-button-icon-left pi pi-user"
          aria-hidden="true"
        ></span
        ><span class="p-button-label">Iniciar sesión</span
        ><span class="p-ink"></span>
      </button>
    </form>
  </div>
  <div
    class="hidden md:block w-6 bg-no-repeat bg-cover"
    style="background-image: url('assets/yaktta_imgs/portada.jpg')"
  ></div>
</div>
