<nav
  class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-gradient-to-r from-primary to-primary-accent"
>
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <div
      class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start"
    >
      <a
        class="flex gap-2 items-center text-base font-bold leading-relaxed mr-4 py-2 whitespace-nowrap uppercase text-white"
      >
        <img
          src="../../../assets/yaktta_imgs/yakkta_logo.webp"
          alt="fractal-logo"
          class="w-8"
        />
        Yaktta
      </a>
      <div class="flex gap-2 items-center lg:hidden">
        <button
          class="text-white cursor-pointer text-2xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent outline-none focus:outline-none"
          type="button"
          (click)="toggleNavbar()"
        >
          <i class="fa fa-regular fa-bars"></i>
        </button>

        <i
          class="text-white text-2xl fa fa-solid fa-cart-plus lg:hidden cursor-pointer"
          (click)="toggleCartDropdown()"
          #btnCartDropdownRef
        ></i>
      </div>
    </div>
    <div
      class="lg:flex lg:flex-grow items-center px-6 mx-auto"
      [ngClass]="{ hidden: !showMenu, flex: showMenu }"
    >
      <ul class="flex flex-col lg:flex-row list-none ml-auto">
        <li class="nav-item" *ngIf="userDetails.roles.includes('ADMIN')">
          <a
            class="px-3 py-2 flex items-center text-sm cursor-pointer uppercase font-bold leading-snug text-white hover:opacity-75"
            (click)="onButtonClickDashboard()"
          >
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-sm cursor-pointer uppercase font-bold leading-snug text-white hover:opacity-75"
            (click)="onButtonClickProducts()"
          >
            <span>Productos</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-sm cursor-pointer uppercase font-bold leading-snug text-white hover:opacity-75"
            (click)="onButtonClickFacturas()"
          >
            <span>Facturas</span>
          </a>
        </li>
        <li class="nav-item">
          <button
            class="px-3 py-2 flex items-center text-sm uppercase font-bold leading-snug text-white hover:opacity-75 transition-all duration-200 ease-in-out"
            type="button"
            (mouseenter)="toggleTooltip()"
            (mouseleave)="mouseLeaveButton($event)"
            #btnDropdownRef
          >
            Perfil
          </button>
          <div
            class="z-50"
            style="min-width: 12rem"
            #popoverDropdownRef
            (mouseleave)="toggleTooltip()"
          >
            <div
              class="bg-white text-base z-50 py-2 list-none text-left rounded shadow-lg mt-1"
              style="min-width: 12rem"
              [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
            >
              <a
                class="text-sm py-2 px-4 cursor-pointer font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
              >
                Cambiar contraseña
              </a>
              <a
                class="text-sm py-2 cursor-pointer px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
              >
                Compras del dia
              </a>
              <a
                (click)="logout()"
                class="text-sm py-2 cursor-pointer px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
              >
                Salir
              </a>
            </div>
          </div>
        </li>
      </ul>
      <div class="hidden lg:flex lg:items-center text-2xl">
        <i
          class="text-white cursor-pointer fa fa-solid fa-cart-plus"
          (click)="toggleCartDropdown()"
          #btnCartDropdownRef
        ></i>
      </div>
    </div>
  </div>
</nav>
<div class="z-50 cart-dropdown" #popoverCartDropdownRef>
  <div
    class="bg-white text-base z-50 py-2 list-none text-left rounded shadow-lg mt-1"
    style="min-width: 12rem"
    [ngClass]="cartDropdownShow ? 'block' : 'hidden'"
  >
    <div class="flex justify-between items-center px-4">
      <h3
        class="text-2xl py-2 font-bold block w-full whitespace-nowrap bg-transparent text-blueGray-700"
      >
        Carrito
      </h3>
      <i
        class="fa far fa-times p-1 hover:text-slate-200 hover:bg-primary-accent hover:rounded-full cursor-pointer transition-all duration-200 ease-in-out"
        (click)="toggleCartDropdown()"
      ></i>
    </div>
    <!-- Aquí puedes agregar tus productos -->
    <a
      class="text-sm py-2 px-6 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
    >
      Producto 1
    </a>
    <a
      class="text-sm py-2 px-6 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
    >
      Producto 2
    </a>
    <!-- Agrega más productos como este -->
  </div>
</div>
